In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0
df

        one       two     three four   five
a -1.237828 -0.189448  0.149130  bar  False
c  1.224930  1.426156 -0.045820  bar   True
e  1.503842 -1.483189 -0.937661  bar   True
f -0.539321  0.993359 -0.832075  bar  False
h  0.997138 -0.863263 -0.520894  bar   True

In [15]:
print(df.mean())

one      0.389752
two     -0.023277
three   -0.437464
five     0.600000
dtype: float64

In [7]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a -1.237828 -0.189448  0.149130  bar  False
b       NaN       NaN       NaN  NaN    NaN
c  1.224930  1.426156 -0.045820  bar   True
d       NaN       NaN       NaN  NaN    NaN
e  1.503842 -1.483189 -0.937661  bar   True
f -0.539321  0.993359 -0.832075  bar  False
g       NaN       NaN       NaN  NaN    NaN
h  0.997138 -0.863263 -0.520894  bar   True

In [27]:
df2['one']

a   -1.237828
b    1.000000
c    1.224930
d         NaN
e    1.503842
f   -0.539321
g         NaN
h    0.997138
Name: one, dtype: float64

In [31]:
df2['one']['b']=None

<ipython-input-31-f1f7ce6eb1b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['one']['b']=None

In [32]:
df2['one']

a   -1.237828
b         NaN
c    1.224930
d         NaN
e    1.503842
f   -0.539321
g         NaN
h    0.997138
Name: one, dtype: float64

In [33]:
print(df2.mean())

one      0.389752
two     -0.023277
three   -0.437464
five     0.600000
dtype: float64